.App{
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;

}

.Task{
  text-align: left;
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.Task-completed{
  border-color: greenyellow;
}

.Task-header{
  font-size: 1.5rem;
  padding: 3px;
  margin: 3px;
}

.Task-text{

}

.Board{
  height: 100%;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: cornflowerblue;
}
